<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smapps.saveit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:name="com.smapps.saveit.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.smapps.saveit.activity.LoginActivity"
            />
        <activity
            android:name="com.smapps.saveit.activity.AboutUsActivity"
            />
        <activity
            android:name="com.smapps.saveit.activity.FacebookActivity"
            />
        <activity
            android:name="com.smapps.saveit.activity.TikTokActivity"
            />
        <activity
            android:name="com.smapps.saveit.activity.WhatsappActivity"
            />
        <activity
            android:name="com.smapps.saveit.activity.InstagramActivity"
            />
        <activity
            android:name="com.smapps.saveit.activity.FullViewActivity"
            />
        <activity android:name="com.smapps.saveit.activity.LikeeActivity"
           />
        <activity
            android:name="com.smapps.saveit.activity.SplashScreen"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smapps.saveit.activity.GalleryActivity"
            />
        <activity
            android:name="com.smapps.saveit.activity.MainActivity"
           >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smapps.saveit.activity.WebviewAcitivity"
            />
        <activity
            android:name="com.smapps.saveit.activity.TwitterActivity"
            />
        <activity android:name="com.smapps.saveit.activity.ShareChatActivity"
           />
        <activity android:name="com.smapps.saveit.activity.RoposoActivity" />
        <activity android:name=".activity.SnackVideoActivity" />
        <activity android:name=".activity.ChingariActivity" />
        <activity android:name=".activity.MXTakaTakActivity" />
        <activity android:name=".activity.MojActivity" />
        <activity android:name=".activity.JoshActivity" />
        <activity android:name=".activity.MitronActivity" />
        <activity android:name=".activity.VideoPlayerActivity" />
        <activity android:name=".activity.FBLoginActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <service
            android:name="com.smapps.saveit.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" />
    </application>

</manifest>